<!DOCTYPE html>

<html>

  <head>

    <title>환영</title>
  </head>

  <body>

    <h1>환영합니다, <%=displayName %> 님</h1>
    <ul>
      <li><a href="/auth/logout">logout</a></li>
      <li><a href="/upload">file upload</a></li>
      <li><a href="/chating">chating</a></li>
    </ul>



  </body>

</html>
