<!DOCTYPE html>

<html>

  <head>

    <title>환영</title>
  </head>

  <body>

    <h1>codigm intern task</h1>
    <ul>
    <li><a href="/login">login</a></li>
    <li><a href="/register">회원가입</a></li>
    </ul>



  </body>

</html>
